*{
    padding: 0;
    margin: 0;
}
body {
    background: url(photo.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin-top: 15%;
}
.modal-overlay{
display: none;
}
.open-modal{
    display: block;

}
.banner{
    padding: 15px;
    margin: 15px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: red;
}
.modal-overlay{
    padding: 15px;
    margin: 15px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: red;
}   
.ros{
    width: 500px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.close-btn{
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
}
.btn modal-btn{
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
}